
@import url('css/bootstrap-rtl.min.css');

body{
	direction: rtl;
	unicode-bidi: embed;
}

.bordered-button i {
	padding-left: 0;
	padding-right: 20px;
}

.bordered-button i.fa-long-arrow-right:before {
    content: "\f177";
} 

/* search */
.hd-search-btn-close {
	left: 40px;
	right: auto;
}
/* Cart */
.home-cart.woocart .woocommerce.widget_shopping_cart {
	left: 0;
	right: auto;
}
/* Menu */
#left-menu.common-menu-wrap {
    text-align: left;
}
#main-menu {
    text-align: left;
}
.common-menu{
	float: none !important;
}
.common-menu-wrap .nav>li ul {
	text-align: right;
}
.common-menu-wrap .nav>li>ul li>ul {
	left: auto;
    right: 220px;
}
.common-menu-wrap .nav>li>ul >li.menu-item-has-children:after {
	left: 15px;
	content: "\f104";
	right: auto;
}
.common-menu-wrap .nav>li>ul li:hover > a:before, 
.common-menu-wrap .nav>li>ul li.active > a:before,
.common-menu-wrap .nav>li>ul li > a:before{
	margin-left: 7px;
	margin-right: 0;
	float: right;
}

/* cart */
.home-cart.woocart .woocommerce.widget_shopping_cart {
	text-align: right;
}

.home-cart.woocart .woocommerce.widget_shopping_cart .cart_list li {
    padding-left: 0;
    padding-right: 1.5em;
}

.home-cart.woocart .woocommerce ul.cart_list li img,
.home-cart.woocart .woocommerce ul.product_list_widget li img {
    margin-left: 15px;
    float: right;
    margin-right: 0;
}
.home-cart.woocart .woocommerce.widget_shopping_cart .cart_list li a.remove {
    right: 0;
    left: auto;
}

/* slider */
.slider-overlay {
	right: 96px;
	left: 0;
	-webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.slider-content.text-left {
    text-align: right;
}

.carousel-control.left,
.carousel-control.right {
	background: none;
}
.carousel-inner > .item.next,
 .carousel-inner > .item.active.right {
   left: 0;
   -webkit-transform: translate3d(-100%, 0, 0);
   transform: translate3d(-100%, 0, 0);
 }
 .carousel-inner > .item.prev,
 .carousel-inner > .item.active.left {
   right: 0;
   -webkit-transform: translate3d(100%, 0, 0);
   transform: translate3d(100%, 0, 0);
 }




/* latest news */
.pull-left {
	float: right!important;
}
.pull-right {
	float: left!important;
}
.thumbnail-news {
	padding-right: 30px;
	padding-left: 0;
}
.small-news {
    margin-right: 10px;
    margin-left: 0;
}
.thumbnail-news .news-date p {
	margin: 4px 4px 0 0;
}
.thumbnail-news .news-date::before {
	right: -62px;
	left: auto;
}
.news-date:before {
	right: -80px;
	left: auto;
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.news-date {
	right: 0;
	left: auto;
}
.news-date p {
	margin: 35px 20px 0 0;
}

/* mission & vision */
.change-person {
	left: 0;
	right: auto;
}

/* upcoming campaign */
.counter-area {
    padding: 85px 80px 70px 0;
}
.pull-left.single-count {
	float: right;
}
.single-count {
    margin-left: 77px;
    margin-right: 0;
}
.single-count.last {
    margin-left: 0;
    margin-right: auto;
}

/* footer */
.text-right {
    text-align: left;
}
.text-left {
    text-align: right;
}
.footer-menu li a {
    margin-left: 39px;
    margin-right: 0;
}

/* subtitle */
.bread-content:before {
    left: auto;
    transform: rotate(-30deg);
    right: -110px;
}
/* homepagge2 */
/* call to action */
.bordered-button.champ {
    margin-left: 30px;
    margin-right: 0;
}

/* video */
.themeum-video-carosuel {
	direction: rtl;
}
.themeum-video-carosuel .owl-item {
    float: right;
    margin-left: 30px;
    margin-right: 0;
}

/* resume */
#resume-carousel .carousel-indicators {
    right: auto;
    left: auto;
    margin-right: 0;
}


/* Timeline */
.timeline-row:before {
    right: -4px;
    left: auto;
}
.timeline-row:after {
    right: -4px;
    left: auto;
}
.timeline-description::before {
    left: 33px;
    right: auto;
}
.timeline-right-content .timeline-description::before {
    right: 32px;
    left: auto;  
}
.timeline-description {
    padding-left: 62px;
    padding-right: 0;
}
.timeline-description::after {
    left: -3px;
    right: auto;
}
.timeline-right-content .timeline-description::after {
    right: -4px;
    left: auto;
}
.timeline-date {
    padding-right: 15px;
    padding-left: 0;
}
.timeline-date::after {
    right: -27px;   
    left: auto;   
}
.timeline-right-content .timeline-description {
    padding-right: 64px;
    padding-left: 0;
}

.timeline-left-content .timeline-date:after {
    right: auto;
    left: -27px;
}
.timeline-left-content .timeline-date {
    padding-right: 0;
    padding-left: 20px;
}

/* blog */
.featured-wrap .news-date {
    right: 0;
    left: auto;
}
.featured-wrap .news-date:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.featured-wrap .news-date time {
    margin: 35px 20px 0 0;
}
.btn-blog i.fa-long-arrow-right:before {
    content: "\f177";
}
.single-social-info.user {
    margin-right: 0;
    margin-left: 30px;
}
.single-page-social .single-social-info.facebook {
    margin-right: 0;
    margin-left: 30px;
}

/* sidebar */
.widget ul li a:before {
    right: 0;
    left: auto;
}
.widget ul li a:hover {
    padding-left: 0;
    padding-right: 12px;
}
.widget .tagcloud a {
    margin-right: 0; 
    margin-left: 10px; 
}
.entry-quote-post-format blockquote {
    border-right: 0;
}
.comment-list .comment-body .comment-avartar {
    margin-right: 0;
    margin-left: 30px;
}

/* event */

.tribe-events-list .tribe-events-event-image {
    display: inline-block;
    float: right;
    margin: 0 0 0 3%;
}
.tribe-events-event-image {
    text-align: right;
}
.tribe-events-list .tribe-events-event-image+div.tribe-events-content {
    float: right;
}
.tribe-events-loop .tribe-events-content {
    padding: 0 0 0 5%;
}
.tribe-events-list .tribe-events-venue-details {
    padding-left: 0;
    padding-right: 25px;
}
.tribe-events-venue-details:before {
	right: 0;
	left: auto;
}
.tribe-event-schedule-details .tribe-event-date-start {
    margin-left: 0;
    margin-right: 8px;
}
.event-link a i.fa-long-arrow-right:before {
    content: "\f177";
}
#tribe-bar-collapse-toggle span.tribe-bar-toggle-arrow {
	right: auto;
	left: 10px;
}
#tribe-bar-collapse-toggle span.tribe-bar-toggle-arrow:after {
    left: 0;
    right: auto;
}

/* woocommerce */
.woocommerce div.product form.cart .button {
	float: right;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 50px 0 0;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
	float: right;
    right: 0;
    left: auto;
}

.woocommerce #reviews #comments ol.commentlist {
	padding: 0;
}
.woocommerce .star-rating span {
	left: auto;
	right: 0;
	float: left;
}

.woocommerce .star-rating {
    float: left;
}

/* responsive */
.navbar-toggle {
    left: 20px;
    right: auto;
}
#mobile-menu ul li span.menu-toggler {
	left: 0;
	right: auto;
}
#mobile-menu ul li span.menu-toggler i.fa-angle-right:before {
    content: "\f104";
}

@media (max-width: 991px){
	.politist-navbar-brand {
	    text-align: right;
	}
}








